body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#PageHeader1
{
   box-sizing: border-box;
}
#Breadcrumb1
{
   list-style: none;
   padding: 8px 15px 8px 15px;
   background-color: #F6F6F6;
   background-image: none;
   border: 1px solid #C5C5C5;
   border-radius: 4px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb1 > li
{
   display: inline-block;
   font-size: 16px;
   text-transform: none;
}
#Breadcrumb1 a
{
   color: #454545;
   text-decoration: none;
}
#Breadcrumb1 a:hover
{
   color: #23527C;
   text-decoration: underline;
}
#Breadcrumb1 > .active
{
   color: #777777;
}
#Breadcrumb1 > .active a
{
   color: inherit;
   pointer-events: none;
}
#Breadcrumb1 > li + li:before
{
   content: "/";
   padding: 0 5px;
   color: #C0C0C0;
}
#wb_TextArt1 a img
{
   position: absolute;
   left: 0;
}
#wb_TextArt1 .default
{
   position: absolute;
   left: 0;
}
#wb_TextArt1 a .hover
{
   visibility: hidden;
}
#wb_TextArt1 a:hover .hover
{
   visibility: visible;
}
#wb_TextArt1 a:hover .default
{
   visibility: hidden;
}
#TextArt1
{
   border-width: 0;
   vertical-align: top;
}
#wb_Form1
{
   background-color: #F8F9FA;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
}
#Label1
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label1:focus
{
   outline: 0;
}
#Editbox1
{
   line-height: 18px;
   margin: 0;
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button2
{
   border: 1px solid #C5C5C5;
   border-radius: 4px;
   background-color: #F6F6F6;
   background-image: none;
   color: #454545;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button2:focus
{
   outline: 0;
}
#wb_TextArt2 a img
{
   position: absolute;
   left: 0;
}
#wb_TextArt2 .default
{
   position: absolute;
   left: 0;
}
#wb_TextArt2 a .hover
{
   visibility: hidden;
}
#wb_TextArt2 a:hover .hover
{
   visibility: visible;
}
#wb_TextArt2 a:hover .default
{
   visibility: hidden;
}
#TextArt2
{
   border-width: 0;
   vertical-align: top;
}
#PageFooter1
{
   box-sizing: border-box;
}
